@import "~normalize.css/normalize.css";
@import "~nes.css/scss/nes.scss";

html, body {
	height: 100%;
	margin: 0;
	padding: 1rem;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
	.row {
		flex: 1 1 auto;
		&.header { flex: 0 1 auto; }
	}
}

#gameContainer {
	height: 100%;
	width: 100%;
}

#stats {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 100;
}
